.chat-bar-collapsible {
  position: fixed;
  bottom: 0;
  transform: translate(calc(50vw - 50%));
  z-index: 1000;
}

.collapsible {
  background-color: transparent;
  box-shadow: 0 5px 50px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(3px);
  color: white;
  cursor: pointer;
  width: 350px;
  text-align: center;
  outline: none;
  font-size: 12px;
}

#chat-button {
  width: 98%;
  text-align: center;
  color: #ffa500;
  font-size: 17px;
  text-shadow: 1px 1px 1px black;
  border: 1px solid grey;
}

@media (hover: hover) {
  #chat-button h4:hover {
    font-size: 21px;
  }
}

#chat-button h4 {
  font-size: 17px;
  margin-bottom: -2px;
  text-shadow: 1px 1px 1px black;
  animation: 35s text-colors linear infinite;
}

@keyframes text-colors {

  0% {
    color: magenta;
  }

  53% {
    color: magenta;
  }

  54% {
    color: cyan;
  }

  99% {
    color: cyan;
  }

  100% {
    color: magenta;
  }
}


.content {
  width: 98%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: transparent;
  box-shadow: 0 5px 50px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(3px);
  border: 1px solid grey;
}

.outer-container {
  min-height: 350px;
  bottom: 0%;
  position: relative;
}

.chat-container {
  max-height: 350px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  scroll-behavior: smooth;
  hyphens: auto;
}

.chat-container::-webkit-scrollbar {
  display: none;
}

/* Chat bubbles */

#userInput {
  width: 100%;
}

.input-box {
  float: left;
  border: none;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  font-size: 12px;
  color: black;
  background-color: white;
  outline: none;
  border: 1px solid grey;
}

.userText {
  color: white;
  font-size: 12px;
  font-weight: normal;
  text-align: right;
  clear: both;
}

.userText span {
  font-size: 12px;
  line-height: 1em;
  display: inline-block;
  background: magenta;
  padding: 10px;
  border-radius: 8px;
  border-bottom-right-radius: 2px;
  max-width: 80%;
  margin-right: 10px;
  animation: floatup .5s forwards
}

.myAssistentText {
  color: black;
  font-size: 12px;
  text-align: left;
}

.myAssistentText span {
  font-size: 12px;
  line-height: 1em;
  display: inline-block;
  background: springgreen;
  border: 1px solid grey;
  color: black;
  padding: 10px;
  border-radius: 8px;
  border-bottom-left-radius: 2px;
  max-width: 100%;
  margin-left: 10px;
  animation: floatup .5s forwards
}

@keyframes floatup {
  from {
    transform: translateY(14px);
    opacity: .0;
  }

  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.full-chat-block {
  width: 100%;
  background-color: transparent;
  box-shadow: 0 5px 50px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(3px);
  text-align: center;
  overflow: auto;
  scrollbar-width: none;
  height: max-content;
  transition: max-height 0.2s ease-out;
}

@media screen and (min-width: 768px) {
  .content {
    width: 95%;
  }

  #chat-button {
    width: 95%;
  }

}


/* ASSISTENT */
.assistent {
  width: 100%;
  height: 50px;
}

#head {
  translate: 0px -25px;
  animation: head_bounce 2s ease-in-out infinite alternate;
}

@keyframes head_bounce {

  0% {
    transform: translateY(-32px)
  }

  100% {
    transform: translateY(-29px)
  }
}

#assistent-eyes {
  transform: scale(.17, .17);
  fill: cyan;
  z-index: 100;
  animation: 3.5s blink-eyes linear infinite;
}


@keyframes blink-eyes {

  0% {
    fill: cyan;
  }

  34% {
    fill: cyan;
  }

  35% {
    fill: #ffa500;
  }

  37% {
    fill: #ffa500;
  }

  39% {
    fill: cyan;
  }

  100% {
    fill: cyan;
  }
}

.bezel {
  transform: scale(.17, .17);
  fill: cyan;
  animation: 35s bezel-colors linear infinite;
}

@keyframes bezel-colors {

  0% {
    fill: magenta;
  }

  53% {
    fill: magenta;
  }

  54% {
    fill: cyan;
  }

  99% {
    fill: cyan;
  }

  100% {
    fill: magenta;
  }
}

.display {
  transform: scale(.17, .17);
}

#mouth {
  transform: scale(.17, .17);

}

#arc {
  animation: 7.1s move-lips linear infinite;
}



@keyframes move-lips {

  0% {
    transform: rotate(0deg);
    transform-box: fill-box;
    transform-origin: center;
  }

  34% {
    transform: rotate(0deg);
    transform-box: fill-box;
    transform-origin: center;
  }

  39% {
    transform: rotate(3deg);
    transform-box: fill-box;
    transform-origin: center;
  }

  44% {
    transform: rotate(5deg);
    transform-box: fill-box;
    transform-origin: center;
  }

  45% {
    transform: rotate(0deg);
    transform-box: fill-box;
    transform-origin: center;
  }

  74% {
    transform: rotate(0deg);
    transform-box: fill-box;
    transform-origin: center;
  }

  79% {
    transform: rotate(-3deg);
    transform-box: fill-box;
    transform-origin: center;
  }

  84% {
    transform: rotate(-5deg);
    transform-box: fill-box;
    transform-origin: center;
  }

  85% {
    transform: rotate(0deg);
    transform-box: fill-box;
    transform-origin: center;
  }

  100% {
    transform: rotate(0deg);
    transform-box: fill-box;
    transform-origin: center;
  }
}




/* CHATBOT SMILEY FACE 
.animation {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 1px;
  padding-bottom: 1px;
  width: 100%;
  height: 39px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  perspective: 1000px;
  z-index: 1000;
}

.smiley-face {
  width: 35px;
  height: 35px;
  top: 2px;
  position: absolute;
  border-radius: 50%;
  margin: auto;
  background: #ffa500;
}

.eyes {
  width: 7px;
  height: 7px;
  background: cyan;
  border-radius: 10px;
  position: absolute;
  top: 9px;
}

.eyes.left {
  left: 22px;
}

.eyes.right {
  right: 22px;
  animation: 3.5s blink-eye linear infinite;
}

@keyframes blink-eye {
  0% {
    background: cyan;
  }

  51% {
    background: cyan;
  }

  51.1% {
    background: cyan;
  }

  59% {
    background: #ffa500;
  }

  59.1% {
    background: cyan;
  }

  100% {
    background: cyan;
  }
}

.smiley-mouth {
  width: 27px;
  height: 27px;
  border: 3.5px solid red;
  border-top: 0;
  border-radius: 100%;
  border-color: transparent transparent red transparent;
  position: absolute;
  bottom: 7px;
  left: 4.5px;
  animation: 3.5s smiley-mouth linear infinite;
}

@keyframes smiley-mouth {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(0deg);
  }

  57% {
    transform: rotate(12deg);
  }

  71% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

*/