.chat-bar-collapsible {
  position: fixed;
  bottom: 0;
  transform: translate(calc(50vw - 50%));
  z-index: 1000;
}

.collapsible {
  background-color: transparent;
  box-shadow: 0 5px 50px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(3px);
  color: white;
  cursor: pointer;
  width: 350px;
  text-align: center;
  outline: none;
  font-size: 12px;
}

#chat-button {
  width: 98%;
  text-align: center;
  color: orange;
  font-size: 17px; 
  text-shadow: 1px 1px 1px black;
  animation: 3.5s animated-text linear infinite;
  border: 1px solid grey;
}

@media (hover: hover) {
  #chat-button:hover {
     background-color: dodgerblue;
  }
}

/* Rotating messages */
.animation {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 1px;
  padding-bottom: 1px;
  width: 100%;
  height: 39px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  perspective: 1000px;
  z-index: 1000;
}

/* Smiley face */
.smiley-face {
  width: 35px;
  height: 35px;
  top: 2px;
  position: absolute;
  border-radius: 50%;
  margin: auto;
  background: orange;
}

.eyes {
  width: 7px;
  height: 7px;
  background: dodgerblue;
  border-radius: 10px;
  position: absolute;
  top: 9px;
}

.eyes.left {
  left: 22px;
}

.eyes.right {
  right: 22px;
  animation: 3.5s blink-eye linear infinite;
}

@keyframes blink-eye {
  0% {
    background: dodgerblue;
  }

  51% {
    background: dodgerblue;
  }

  51.1% {
    background: dodgerblue;
  }

  59% {
    background: orange;
  }

  59.1% {
    background: dodgerblue;
  }

  100% {
    background: dodgerblue;
  }
}

.smiley-mouth {
  width: 27px;
  height: 27px;
  border: 3.5px solid red;
  border-top: 0;
  border-radius: 100%;
  border-color: transparent transparent red transparent;
  position: absolute;
  bottom: 7px;
  left: 4.5px;
  animation: 3.5s smiley-mouth linear infinite;
}

@keyframes smiley-mouth {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(0deg);
  }

  57% {
    transform: rotate(12deg);
  }

  71% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.content {
  width: 98%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: transparent;
  box-shadow: 0 5px 50px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(3px);
  border: 1px solid grey;
}

.outer-container {
  min-height: 350px;
  bottom: 0%;
  position: relative;
}

.chat-container {
  max-height: 350px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  scroll-behavior: smooth;
  hyphens: auto;
}

.chat-container::-webkit-scrollbar {
  display: none;
}

/* Chat bubbles */

#userInput {
  width: 100%;
}

.input-box {
  float: left;
  border: none;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  font-size: 12px;
  color: black;
  background-color: white;
  outline: none;
  border: 1px solid grey;
}

.userText {
  color: white;
  font-size: 12px;
  font-weight: normal;
  text-align: right;
  clear: both;
}

.userText span {
  font-size: 12px;
  line-height: 1em;
  display: inline-block;
  background: magenta;
  padding: 10px;
  border-radius: 8px;
  border-bottom-right-radius: 2px;
  max-width: 80%;
  margin-right: 10px;
  animation: floatup .5s forwards
}

.myAssistentText {
  color: black;
  font-size: 12px;
  text-align: left;
}

.myAssistentText span {
  font-size: 12px;
  line-height: 1em;
  display: inline-block;
  background: springgreen;
  border: 1px solid grey;
  color: black;
  padding: 10px;
  border-radius: 8px;
  border-bottom-left-radius: 2px;
  max-width: 100%;
  margin-left: 10px;
  animation: floatup .5s forwards
}

@keyframes floatup {
  from {
    transform: translateY(14px);
    opacity: .0;
  }

  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.full-chat-block {
  width: 100%;
  background-color: transparent;
  box-shadow: 0 5px 50px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(3px);
  text-align: center;
  overflow: auto;
  scrollbar-width: none;
  height: max-content;
  transition: max-height 0.2s ease-out;
}

@media screen and (min-width: 768px) {
  .content {
    width: 95%;
  }

  #chat-button {
    width: 95%;
  }

}