p {
    text-align: center;
    color: springgreen;
    text-shadow: 1px 1px1px dimgray;
    font-weight: 800;
    font-size: 18px;
}

#moovingButton {
    width: 39px;
    height: 39px;
    margin-top: 50px;
    border-radius: 50%;
    text-align: center;
    font-weight: 700;
    font-size: 21px;
    background-color: transparent;
    border: 0 solid transparent;
    animation: buttonMove 17s infinite alternate;
}

@keyframes buttonMove {
    0% {
        margin-left: 81%;
        color: transparent;
    }



    3% {
        margin-left: -81%;
        color: transparent;
    }

    6% {
        margin-left: -81%;
        color: magenta;
    }

    7% {
        margin-left: -81%;
        color: magenta;
    }

    8% {
        margin-left: -81%;
        color: transparent;
    }



    13% {
        margin-left: 1%;
        color: transparent;
    }

    16% {
        margin-left: 1%;
        color: green;
    }

    17% {
        margin-left: 1%;
        color: green;
    }

    18% {
        margin-left: 1%;
        color: transparent;
    }




    23% {
        margin-left: -50%;
        color: transparent;
    }

    26% {
        margin-left: -50%;
        color: magenta;
    }

    27% {
        margin-left: -50%;
        color: magenta;
    }

    28% {
        margin-left: -50%;
        color: transparent;
    }




    36% {
        margin-left: 55%;
        color: transparent;
    }

    39% {
        margin-left: 55%;
        color: cyan;
    }

    40% {
        margin-left: 55%;
        color: cyan;
    }

    41% {
        margin-left: 55%;
        color: transparent;
    }



    46% {
        margin-left: 31%;
        color: transparent;
    }

    49% {
        margin-left: 31%;
        color: red;
    }

    50% {
        margin-left: 31%;
        color: red;
    }

    51% {
        margin-left: 31%;
        color: transparent;
    }



    56% {
        margin-left: -72%;
        color: transparent;
    }

    59% {
        margin-left: -72%;
        color: green;
    }

    60% {
        margin-left: -72%;
        color: green;
    }

    61% {
        margin-left: -72%;
        color: transparent;
    }



    67% {
        margin-left: 72%;
        color: transparent;
    }

    70% {
        margin-left: 72%;
        color: cyan;
    }

    71% {
        margin-left: 72%;
        color: cyan;
    }

    72% {
        margin-left: 72%;
        color: transparent;
    }



    77% {
        margin-left: 12%;
        color: transparent;
    }

    80% {
        margin-left: 12%;
        color: green;
    }

    81% {
        margin-left: 12%;
        color: green;
    }

    82% {
        margin-left: 12%;
        color: transparent;
    }



    87% {
        margin-left: -22%;
        color: transparent;
    }

    89% {
        margin-left: -22%;
        color: red;
    }

    90% {
        margin-left: -22%;
        color: red;
    }

    91% {
        margin-left: -22%;
        color: transparent;
    }



    96% {
        margin-left: 81%;
        color: transparent;
    }

    99% {
        margin-left: 81%;
        color: cyan;
    }

    100% {
        margin-left: 81%;
        color: cyan;
    }

}

#moovingButton:hover {
    cursor: pointer;
}