.planet-container {
	width: 100%;
	overflow: hidden;
}

section {
	position: relative;
	height: 17vh;
	width: 100%;
}

@media (min-width: 768px) {
	section {
		height: 45vh;
	}
}

#earth {
	position: absolute;
	background: #2351ab;
	width: 135vw;
	height: 153vw;
	left: -22vw;
	border-radius: 50%;
	z-index: 1;
	overflow: hidden;
	bottom: -135vw;
}

@media (min-width: 768px) {
	#earth {
		left: -19vw;
	}
}

.cloud {
	position: absolute;
	top: 4vw;
	left: 0vw;
	width: 10vw;
	height: 10vw;
	background: white;
	opacity: .7;
	border-radius: 50%;
	-webkit-box-shadow: 3vw 3vw white, -5vw 3vw white, -6vw 0 white, -10vw 1vw white;
	box-shadow: 3vw 3vw white, -5vw 3vw white, -6vw 0 white, -10vw 1vw white;
	-webkit-animation: cloudsAnim 9s linear infinite;
	animation: cloudsAnim 9s linear infinite;
}

@-webkit-keyframes cloudsAnim {
	from {
		-webkit-transform: translateX(-25vw);
		transform: translateX(-25vw);
	}

	to {
		-webkit-transform: translateX(180vw);
		transform: translateX(180vw);
	}
}

@keyframes cloudsAnim {
	from {
		-webkit-transform: translateX(-25vw);
		transform: translateX(-25vw);
	}

	to {
		-webkit-transform: translateX(180vw);
		transform: translateX(180vw);
	}
}


