html,
body {
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
}

body {
  width: 100%;
}

.container-fluid {
  padding-left: 8px;
}

/* My portrait picture */
.portrait-picture {
  margin: 8px auto;
  margin-top: 53px;
  background-color: rgb(230, 221, 221);
  background-image: url(./CT.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 135px;
  height: 135px;
  border-radius: 50%;
  border: solid 1px lightskyblue;
}

.portrait-picture img {
  width: 100%;
}

/* My name */
.jumbotron h1 {
  text-align: center;
  margin-top: 1px;
  font-weight: 900;
  font-family: "Lato", "Montserrat", "Times New Roman";
  color: white;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 255, 0.1), 0 0 5px rgba(0, 0, 255, 0.1),
    0 1px 3px rgba(0, 0, 255, 0.3), 0 3px 5px rgba(0, 0, 255, 0.2),
    0 5px 10px rgba(0, 0, 255, 0.25), 0 10px 10px rgba(0, 0, 255, 0.2);
}

h2 {
  text-align: center;
  font-weight: 900;
  font-family: "Lato", "Montserrat", "Times New Roman";
  color: white;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 255, 0.1), 0 0 5px rgba(0, 0, 255, 0.1),
    0 1px 3px rgba(0, 0, 255, 0.3), 0 3px 5px rgba(0, 0, 255, 0.2),
    0 5px 10px rgba(0, 0, 255, 0.25), 0 10px 10px rgba(0, 0, 255, 0.2);
}

h3 {
  font-weight: 800;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-shadow: 3.5px 1.7px 1px blue;
  margin-top: 1px;
  margin-bottom: 1px;
  text-align: center;
}

h4 {
  color: black;
  font-weight: 100;
  margin-top: 1px;
  font-family: "Lato", "Times New Roman";
}

h5 {
  color: black;
  font-weight: 100;
  margin-top: 3px;
  font-family: "Lato", "Times New Roman";
}

.scrambleContainer {
  margin-top: 17px;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.scrambleText {
  padding-top: 1px;
  width: 100%;
  height: 35px;
  font-size: 17px;
  font-weight: 800;
  margin: auto;
  color: dodgerblue;
  text-shadow: .1px .1px .1px black;
  font-family: "Lato", "Times New Roman";
  text-align: center;
}

@media (min-width: 768px) {
  .scrambleText {
    padding-top: 1px;
    margin: 1px auto;
    font-size: 35px;
    height: 53px;
  }
}

