/* SPACESHIP MOVEMENT */
.spaceship-wrap {
    display: table;
    height: 100%;
    width: 100%;
    z-index: 8;
}

.spaceship-inner {
    position: relative;
    margin: auto;
    animation: spaceship-flight 35s ease-in-out infinite;
}

@keyframes spaceship-flight {
    0% {
        transform: translate(0, 39px) scale(0) rotate(-4deg);
    }

    8% {
        transform: translate(0, -10px) scale(1) rotate(1deg);
    }

    18% {
        transform: translate(0, -1px) scale(.9) rotate(-1deg);
    }

    35% {
        transform: translate(0, -10px) scale(1) rotate(1deg);
    }

    53% {
        transform: translate(0, 1px) scale(0.9) rotate(-2deg);
    }

    71% {
        transform: translate(0, -6px) scale(.9) rotate(1deg);
    }

    81% {
        transform: translate(0, 1px) scale(0.8) rotate(-1deg);
    }

    90% {
        transform: translate(0, -14px) scale(1) rotate(1deg);
    }

    100% {
        transform: translate(0, 39px) scale(0) rotate(-4deg);
    }
}

/* SPACESHIP SHAPE */
#spaceship-ring {
    width: 258px;
    height: 48px;
    top: 28px;
    margin: auto;
    border-radius: 50%;
    border: 3.5px solid cyan;
    background: cyan;
    position: relative;
    animation: spaceship-ring 8s ease-in-out infinite;
}

@keyframes spaceship-ring {
    0% {
        border: 3.5px solid fuchsia;
    }

    25% {
        border: 3.5px solid purple;
    }

    53% {
        border: 3.5px solid fuchsia;
    }

    75% {
        border: 3.5px solid purple;
    }

    100% {
        border: 3.5px solid fuchsia;
    }
}

/* SPACESHIP CABIN */
.cabin {
    width: 178px;
    height: 71px;
    background: cyan;
    position: relative;
    top: -30px;
    z-index: -2;
    margin: 0 auto;
    border-radius: 50%;
    left: 4px;
}

/* SPACESHIP CABIN ANIMATED TEXT */
.cabin::before {
    position: relative;
    color: gold;
    top: 3px;
    font-size: 18px;
    font-weight: 800;
    content: "CT";
    animation: cabin-animated-text 35s ease-in-out infinite;
}


@keyframes cabin-animated-text {

    0% {
        content: "";
    }

    10% {
        content: "WELCOME!";
    }

    20% {
        content: "I like coding";
    }

    30% {
        content: "HTML";
    }

    40% {
        content: "CSS";
    }

    50% {
        content: "JavaScript";
    }

    60% {
        content: "SVG";
    }

    70% {
        content: "jQuery";
    }

    80% {
        content: "React";
    }

    90% {
        content: "NPM & GIT";
    }

    100% {
        content: "";
    }
}

/* SPACESHIP CIRCULAR REACTORS */
ul.circles {
    margin: 0;
    position: absolute;
    top: 0;
    width: 100%;
    display: block;
    height: 100%;
}

ul.circles li {
    list-style-type: none;
    width: 21px;
    height: 8px;
    position: absolute;
    background: cyan;
    border-radius: 50%;
    animation: spaceship-circles 8s ease-in-out infinite;
}

ul.circles li:nth-child(1) {
    left: 28px;
    bottom: 12px;
}

ul.circles li:nth-child(2) {
    left: 70px;
    top: 7.3px;
}

ul.circles li:nth-child(3) {
    left: 118px;
    top: 5px;
}

ul.circles li:nth-child(4) {
    right: 62px;
    top: 7.3px;
}

ul.circles li:nth-child(5) {
    right: 22px;
    bottom: 12px;
}

@keyframes spaceship-circles {
    0% {
        background: gold;
    }

    25% {
        background: red;
    }

    53% {
        background: gold;
    }

    75% {
        background: red;
    }

    100% {
        background: gold;
    }
}

/* SPACESHIP CENTRAL REACTOR */
.reactor {
    width: 148px;
    height: 17px;
    margin: 0 auto;
    background: gold;
    position: relative;
    left: 3px;
    border-radius: 50%;
    top: -52px;
    overflow: hidden;
}