/* SPACESHIP MOVEMENT */
.spaceship-wrap {
    display: table;
    height: 100%;
    width: 100%;
    z-index: 3;
}

.spaceship-inner {
    position: relative;
    margin: auto;
    animation: spaceship-flight 35s ease-in-out infinite;
}

@keyframes spaceship-flight {
    0% {
        transform: translate(0, -10px) scale(1) rotate(0);
    }

    8% {
        transform: translate(0, -10px) scale(1) rotate(1deg);
    }

    20% {
        transform: translate(0, 39px) scale(0) rotate(-4deg);
    }

    30% {
        transform: translate(0, 39px) scale(0) rotate(8deg);
    }

    40% {
        transform: translate(0, -10px) scale(.9) rotate(-2deg);
    }

    48% {
        transform: translate(0, 17px) scale(0.7) rotate(3deg);
    }

    53% {
        transform: translate(0, 1px) scale(0.8) rotate(-2deg);
    }

    71% {
        transform: translate(0, 12px) scale(0.7) rotate(1deg);
    }

    81% {
        transform: translate(0, -14px) scale(0.9) rotate(-1deg);
    }

    90% {
        transform: translate(0, 18px) scale(.8) rotate(1deg);
    }

    100% {
        transform: translate(0, -10px) scale(1) rotate(0);
    }
}
/* SPACESHIP SHAPE */
#spaceship {
    width: 318px;
    height: 44px;
    top: 28px;
    left: -20px;
    margin: auto;
    border-radius: 50%;
    border: 3.5px solid cyan;
    background: blue;
    position: relative;
    animation: spaceship-ring 8s ease-in-out infinite;
}

@media (min-width: 768px) {
	#spaceship {
        left: -1px;
	}
}

@keyframes spaceship-ring {
    0% {
        border: 3.5px solid cyan;
    }

    25% {
        border: 3.5px solid springgreen;
    }

    50% {
        border: 3.5px solid gold;
    }

    75% {
        border: 3.5px solid magenta;
    }

    100% {
        border: 3.5px solid cyan;
    }
}

/* SPACESHIP CABIN */
.cabin {
    width: 188px;
    height: 75px;
    background: blue;
    position: relative;
    top: -37px;
    z-index: -2;
    margin: 0 auto;
    border-radius: 50%;
    left: 4px;
}

/* SPACESHIP CABIN ANIMATED TEXT */
.cabin::before {
    font-size: 18px;
    font-weight: 800;
    text-shadow: .8px .8px .8px white;
    content: "CT";
    animation: cabin-animated-text 35s ease-in-out infinite;
}

@keyframes cabin-animated-text {

    0% {
        content: "HTML";
        color: red;
    }

    10% {
        content: "CSS";
        color: cyan;
    }

    19.8% {
        content: "CSS";
        color: cyan;
    }

    20% {
        content: "";
    }

    30% {
        content: "";
    }

    30.5% {
        content: "Bootstrap";
        color: purple;
    }

    40% {
        content: "JavaScript";
        color: gold;
    }

    50% {
        content: "jQuery";
        color: dodgerblue;
    }

    60% {
        content: "React";
        color: orange;
    }

    70% {
        content: "NPM";
        color: rgb(246, 101, 3);
    }

    80% {
        content: "SVG";
        color: white;
    }

    90% {
        content: "Git";
        color: rgb(225, 99, 9);
    }

    100% {
        content: "HTML";
        color: red;
    }
}

/* SPACESHIP CIRCULAR REACTORS */
ul.circles {
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
    display: block;
    height: 100%;
}

ul.circles li {
    list-style-type: none;
    width: 21px;
    height: 8px;
    position: absolute;
    background: cyan;
    border-radius: 50%;
    animation: spaceship-circles 8s ease-in-out infinite;
}

ul.circles li:nth-child(1) {
    left: 34px;
    bottom: 12px;
}

ul.circles li:nth-child(2) {
    left: 90px;
    top: 6.3px;
}

ul.circles li:nth-child(3) {
    left: 148px;
    top: 5px;
}

ul.circles li:nth-child(4) {
    right: 84px;
    top: 7px;
}

ul.circles li:nth-child(5) {
    bottom: 12px;
    right: 28px;
}

@keyframes spaceship-circles {
    0% {
        background: cyan;
    }

    25% {
        background: springgreen;
    }

    50% {
        background: gold;
    }

    75% {
        background: magenta;
    }

    100% {
        background: cyan;
    }
}

/* SPACESHIP CENTRAL REACTOR */
.reactor {
    width: 188px;
    height: 12px;
    margin: 0 auto;
    background: cyan;
    position: relative;
    left: 3px;
    border-radius: 50%;
    top: -56px;
    overflow: hidden;
}